.pagination {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content:center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 25%;
}

.pagination a:nth-child(1),
.pagination a:nth-child(2),
.pagination a:nth-child(3) {
    margin-right:11%;
}
.pagination a:nth-child(5),
.pagination a:nth-child(6),
.pagination a:nth-child(7) {
    margin-left:11%;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
